{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1 class="mt-4">Modification de l'ingrédient</h1>

		{# Customisation du form avec form_start & form_end #}
		{{ form_start(form) }}
		<div
			class="form-group">
			{# Récupére le label du champ #}
			{{ form_label(form.name) }}
			{# Récupére le champ du form #}
			{{ form_widget(form.name) }}
			<div
				class="form-error">
				{# Récupére l'erreur concernant ce champ #}
				{{ form_errors(form.name) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.price) }}
			{{ form_widget(form.price) }}
			<div class="form-error">
				{{ form_errors(form.price) }}
			</div>
		</div>

		<div
			class="form-group">
			{# Récupére toute la ligne #}
			{{ form_row(form.submit) }}
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
